*{
    font-family: "Epilogue", sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    ul{
        list-style-type: none;
    }
}
nav{
    .nav-center{        
        padding: 1rem 1.3rem;
        position: relative;
        .nav-header{
            display: flex;
            justify-content: space-between;
            align-items: center;
            .nav-toggle{
                border: none;
                background-color: transparent;
                width:2rem;
                height:2rem;
                border-radius: .5rem;
            }
            .menu{
                display: none;
                font-size: .9rem;
                width: 100%;
                .links{
                    display: flex;
                    align-items: center;
                    padding-left: 1rem;
                    .item{
                        cursor: pointer;
                        margin-right: 1rem;
                        height: 2rem;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        position: relative;
                        li{
                            margin: 1rem 0;
                            img{
                                margin-right: 5px;
                            }
                        }
                        .f-details{
                            display: none;
                            position: absolute;
                            top: 35px;
                            right: 0;
                            padding:.8rem 1rem;
                            width: 8rem;
                            border-radius: 10px;
                            background-color: white;
                            box-shadow: -10px 10px 50px rgba(0, 0, 0, 0.212);
                        }
                        .c-details{
                            display: none;
                            position: absolute;
                            top: 35px;
                            left: 0;
                            padding:.8rem 1rem;
                            width: 6rem;
                            border-radius: 10px;
                            background-color: white;
                            box-shadow: -10px 10px 50px rgba(0, 0, 0, 0.212);
                        }
                        .active{
                            display: block;
                            transition: all .2s ease;
                        }
                        .arrow {
                            display: inline-block;
                            position: relative;
                            width: 1rem;
                            height: 1rem;
                        }
                        .down{
                            background:no-repeat center url('../images/icon-arrow-down.svg');
                        }
                        .up{
                            background:no-repeat center url('../images/icon-arrow-up.svg');
                        }
                    }
                    .register-btn{
                        border: solid .1rem black;
                        padding:1rem 1.5rem;
                        border-radius: 1.2rem;
                        transition: all ease .3s;
                        &:hover{
                            border-color: none;
                            background-color: black;
                            color: white;
                        }
                    }
                    
                }
            }
        }
        .container-menu{
            display: none;
            background-color: rgba(0, 0, 0, 0.4);
            position: fixed;
            z-index: 10;
            right: 0;
            top: 0;
            width: 100%;
            height: 100dvh;
            .mobile-menu{
                background-color: white;
                position: fixed;
                right: 0;
                width: 65%;
                height: 100dvh;
                padding:2rem;
                display: flex;
                flex-direction: column;
                }
                .close-toggle{
                    cursor: pointer;
                    width: 1.5rem;
                    height: 1.5rem;
                    align-self: flex-end;
                    margin-bottom: 3rem;
                    border: none;
                    img{
                        width: 100%;
                        background-color: white;
                    }
                }
                .primary{
                    margin-bottom: 3rem;
                    .item{
                        cursor: pointer;
                        margin-block: 1rem;
                        .arrow {
                            display: inline-block;
                            position: relative;
                            top: 4px;
                            width: 1rem;
                            height: 1rem;
                        }
                        .down{
                            background:no-repeat center url('../images/icon-arrow-down.svg');
                        }
                        .up{
                            background:no-repeat center url('../images/icon-arrow-up.svg');
                        }
                        .details{
                            display: none;
                            padding-left: .5rem;
                            li{
                                margin: 1rem;
                                img{
                                    margin-right: 5px;
                                }
                            }
                        }
                        .active{
                            display: block;
                            transition: all .2s ease;
                        }
                    }
                }
                .secondary{
                    align-self: center;
                    width: 100%;
                    .item{
                        height: 2rem;
                        margin-block: 1rem;
                        text-align: center;
                    }
                    .register-btn{
                        height: 3.5rem;
                        padding: 1rem 3rem;
                        margin: auto;
                        width: 70%;
                        border: solid 1px black;
                        border-radius: 1rem;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        transition: all .3s ease;
                        &:hover{
                            background-color: black;
                            color:white
                        }
                    }
                }
            }
            .active{
                display: block;
                
            }
            transition: all .3s ease;
        }
        
    }


main{
    .hero{
        text-align: center;
        .image{
            width: 100%;
            height: 40dvh;
            margin-bottom:3rem ;   
            background: no-repeat url('../images/imageHeroMobile.png');
            background-size: contain;
            background-position: center;
        }
        .wlcText{
            width: 90%;
            margin: 0 auto;
            h1{
                font-size: 2.7rem;
                font-weight: 700;
            }
            p{
                font-size: 1.2rem;
                font-weight: 500;
                margin-block: 2rem;
                color:hsl(0, 0%, 41%)
            }
            .wel-btn{
                display: block;
                margin: 0 auto;
                width: 10rem;
                height: 3rem;
                background-color: black;
                color: white;
                font-weight: 400;
                font-size: 1rem;
                border: none;
                border-radius: 1rem;
                transition: all ease .3s;
                &:hover{
                    background-color: transparent;
                    border:1px solid black;
                    color: black
                }
            }
            .pictures{
                margin: 3rem 0;
                display: flex;
                justify-content: space-around;
                align-items: center;
            }
        }
    }
}
@media (min-width:720px) {
    nav{
        .nav-center{
            .nav-header{
                justify-content: flex-start;
                padding-inline: 2rem;
                .menu{
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                }
                .nav-toggle{
                    display: none;
                }
            } 
        }
    }
    main{
        .hero{
            text-align: start;
            margin-top: 2rem;
            display: flex;
            flex-direction: row-reverse;
            .image{
                background: no-repeat url('../imageHeroDesktop.png');
                background-size: contain;
                background-position: top left;
                margin: 0;
                height: 70dvh;
                width: 40%;
            }
            .wlcText{
                width: 60%;
                padding: 5rem 1rem 0 6rem;

                h1{
                    font-size: 4rem;
                    font-weight: 700;
                    span{
                        display: block;
                    }
                }
                p{
                    font-size: 1.2rem;
                    font-weight: 500;
                    margin-block: 2rem;
                    padding-right: 10%;
                    color:hsl(0, 0%, 41%)
                }
                .wel-btn{
                margin: 0;
                }
                .pictures{
                    margin-top: 5rem;
                    padding-right: 10rem;
                }
            }
        }
    }
}