* {
  font-family: "Epilogue", sans-serif;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
* ul {
  list-style-type: none;
}

nav .nav-center {
  padding: 1rem 1.3rem;
  position: relative;
  transition: all 0.3s ease;
}
nav .nav-center .nav-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
nav .nav-center .nav-header .nav-toggle {
  border: none;
  background-color: transparent;
  width: 2rem;
  height: 2rem;
  border-radius: 0.5rem;
}
nav .nav-center .nav-header .menu {
  display: none;
  font-size: 0.9rem;
  width: 100%;
}
nav .nav-center .nav-header .menu .links {
  display: flex;
  align-items: center;
  padding-left: 1rem;
}
nav .nav-center .nav-header .menu .links .item {
  cursor: pointer;
  margin-right: 1rem;
  height: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
nav .nav-center .nav-header .menu .links .item li {
  margin: 1rem 0;
}
nav .nav-center .nav-header .menu .links .item li img {
  margin-right: 5px;
}
nav .nav-center .nav-header .menu .links .item .f-details {
  display: none;
  position: absolute;
  top: 35px;
  right: 0;
  padding: 0.8rem 1rem;
  width: 8rem;
  border-radius: 10px;
  background-color: white;
  box-shadow: -10px 10px 50px rgba(0, 0, 0, 0.212);
}
nav .nav-center .nav-header .menu .links .item .c-details {
  display: none;
  position: absolute;
  top: 35px;
  left: 0;
  padding: 0.8rem 1rem;
  width: 6rem;
  border-radius: 10px;
  background-color: white;
  box-shadow: -10px 10px 50px rgba(0, 0, 0, 0.212);
}
nav .nav-center .nav-header .menu .links .item .active {
  display: block;
  transition: all 0.2s ease;
}
nav .nav-center .nav-header .menu .links .item .arrow {
  display: inline-block;
  position: relative;
  width: 1rem;
  height: 1rem;
}
nav .nav-center .nav-header .menu .links .item .down {
  background: no-repeat center url("../images/iconArrowDown.svg");
}
nav .nav-center .nav-header .menu .links .item .up {
  background: no-repeat center url("../images/iconArrowUp.svg");
}
nav .nav-center .nav-header .menu .links .register-btn {
  border: solid 0.1rem black;
  padding: 1rem 1.5rem;
  border-radius: 1.2rem;
  transition: all ease 0.3s;
}
nav .nav-center .nav-header .menu .links .register-btn:hover {
  border-color: none;
  background-color: black;
  color: white;
}
nav .nav-center .container-menu {
  display: none;
  background-color: rgba(0, 0, 0, 0.4);
  position: fixed;
  z-index: 10;
  right: 0;
  top: 0;
  width: 100%;
  height: 100dvh;
}
nav .nav-center .container-menu .mobile-menu {
  background-color: white;
  position: fixed;
  right: 0;
  width: 65%;
  height: 100dvh;
  padding: 2rem;
  display: flex;
  flex-direction: column;
}
nav .nav-center .container-menu .close-toggle {
  cursor: pointer;
  width: 1.5rem;
  height: 1.5rem;
  align-self: flex-end;
  margin-bottom: 3rem;
  border: none;
}
nav .nav-center .container-menu .close-toggle img {
  width: 100%;
  background-color: white;
}
nav .nav-center .container-menu .primary {
  margin-bottom: 3rem;
}
nav .nav-center .container-menu .primary .item {
  cursor: pointer;
  margin-block: 1rem;
}
nav .nav-center .container-menu .primary .item .arrow {
  display: inline-block;
  position: relative;
  top: 4px;
  width: 1rem;
  height: 1rem;
}
nav .nav-center .container-menu .primary .item .down {
  background: no-repeat center url("../images/iconArrowDown.svg");
}
nav .nav-center .container-menu .primary .item .up {
  background: no-repeat center url("../images/iconArrowUp.svg");
}
nav .nav-center .container-menu .primary .item .details {
  display: none;
  padding-left: 0.5rem;
}
nav .nav-center .container-menu .primary .item .details li {
  margin: 1rem;
}
nav .nav-center .container-menu .primary .item .details li img {
  margin-right: 5px;
}
nav .nav-center .container-menu .primary .item .active {
  display: block;
  transition: all 0.2s ease;
}
nav .nav-center .container-menu .secondary {
  align-self: center;
  width: 100%;
}
nav .nav-center .container-menu .secondary .item {
  height: 2rem;
  margin-block: 1rem;
  text-align: center;
}
nav .nav-center .container-menu .secondary .register-btn {
  height: 3.5rem;
  padding: 1rem 3rem;
  margin: auto;
  width: 70%;
  border: solid 1px black;
  border-radius: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.3s ease;
}
nav .nav-center .container-menu .secondary .register-btn:hover {
  background-color: black;
  color: white;
}
nav .nav-center .active {
  display: block;
}

main .hero {
  text-align: center;
}
main .hero .image {
  width: 100%;
  height: 40dvh;
  margin-bottom: 3rem;
  background: no-repeat url("../images/imageHeroMobile.png");
  background-size: contain;
  background-position: center;
}
main .hero .wlcText {
  width: 90%;
  margin: 0 auto;
}
main .hero .wlcText h1 {
  font-size: 2.7rem;
  font-weight: 700;
}
main .hero .wlcText p {
  font-size: 1.2rem;
  font-weight: 500;
  margin-block: 2rem;
  color: hsl(0, 0%, 41%);
}
main .hero .wlcText .wel-btn {
  display: block;
  margin: 0 auto;
  width: 10rem;
  height: 3rem;
  background-color: black;
  color: white;
  font-weight: 400;
  font-size: 1rem;
  border: none;
  border-radius: 1rem;
  transition: all ease 0.3s;
}
main .hero .wlcText .wel-btn:hover {
  background-color: transparent;
  border: 1px solid black;
  color: black;
}
main .hero .wlcText .pictures {
  margin: 3rem 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

@media (min-width: 720px) {
  nav .nav-center .nav-header {
    justify-content: flex-start;
    padding-inline: 2rem;
  }
  nav .nav-center .nav-header .menu {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  nav .nav-center .nav-header .nav-toggle {
    display: none;
  }
  main .hero {
    text-align: start;
    margin-top: 2rem;
    display: flex;
    flex-direction: row-reverse;
  }
  main .hero .image {
    background: no-repeat url("../images/imageHeroDesktop.png");
    background-size: contain;
    background-position: top left;
    margin: 0;
    height: 70dvh;
    width: 40%;
  }
  main .hero .wlcText {
    width: 60%;
    padding: 5rem 1rem 0 6rem;
  }
  main .hero .wlcText h1 {
    font-size: 4rem;
    font-weight: 700;
  }
  main .hero .wlcText h1 span {
    display: block;
  }
  main .hero .wlcText p {
    font-size: 1.2rem;
    font-weight: 500;
    margin-block: 2rem;
    padding-right: 10%;
    color: hsl(0, 0%, 41%);
  }
  main .hero .wlcText .wel-btn {
    margin: 0;
  }
  main .hero .wlcText .pictures {
    margin-top: 5rem;
    padding-right: 10rem;
  }
}/*# sourceMappingURL=index.css.map */